<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>300905359368-teckdaa1k0o2gk2g7c8enli6of9vmlad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300905359368-teckdaa1k0o2gk2g7c8enli6of9vmlad</string>
	<key>API_KEY</key>
	<string>AIzaSyDBrCb2YhSCVOfDoYKV3XdHbNnlwpHPKWw</string>
	<key>GCM_SENDER_ID</key>
	<string>300905359368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.lukoil.www</string>
	<key>PROJECT_ID</key>
	<string>lukoil-benelux</string>
	<key>STORAGE_BUCKET</key>
	<string>lukoil-benelux.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300905359368:ios:1ca1d197cfc644cd</string>
	<key>DATABASE_URL</key>
	<string>https://lukoil-benelux.firebaseio.com</string>
</dict>
</plist>
